.inputLabel {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}
.stepSlider {
    color: #fff !important; // Custom thumb color
    width: 100vw !important;
    transition: all 0.3s ease; // Change transition duration here

    // .MuiSlider-mark .MuiSlider-markActive {
    //     color: #828282 !important;
    // }
}
